@media screen and (min-width:769px) and (max-width:1024px) {
  .geeks{
    left: auto;
  }
  button.btn{
    margin-left: auto;
  }
  button a{
    font-size: 13px;
  }
  .ab-text{
    width: 381px;
  }
}

@media screen and (min-width:426px) and (max-width:768px) {
  .geeks{
    left: auto;
    top: 3%;
  }
  .geeks h1{
    font-size: 24px;
    font-family: 'FontAwesome';
    letter-spacing: 5px;
    border-bottom: 2px solid rgb(199, 194, 194);
    padding: 5px;
  }
  button.btn{
    margin-left: 375px;
    padding: 5px;
  }
  button a{
    font-size: 14px;
    font-weight: revert;
  }
  .ab-detl-container {
    width: 430px;
}
.ab-text{
  width: 400px;
}
.head{
  height: auto;
}
button.btn {
  margin-left: 5px;
  padding: 5px;
  margin-top: 81px;
}
}

@media screen and (min-width: 321px) and (max-width: 425px) {
  body {
    background: rgb(2, 0, 36);
/*     background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(51, 34, 51, 0.9080882352941176) 19%,
      rgba(27, 10, 21, 1) 100%,
      rgba(94, 11, 52, 1) 100%,
      rgba(0, 212, 255, 1) 100%,
      rgba(32, 32, 32, 1) 100%,
      rgba(118, 14, 56, 0.9052871148459384) 100%,
      rgba(0, 0, 0, 0.5971638655462185) 100%
    ); */
  }
  button.btn {
    margin-left: 564px;
  }
  .ab-detl-container {
    width: 366px;
  }
  .ab-text {
    width: 378px;
  }
  .cont-us {
    width: 320px;
  }
  .link-1 {
    width: 155px;
  }
  .link-2 {
    width: 155px;
  }
  button.btn {
    margin-left: 0px;
    margin-top:67px
  }
  .ab-detl-container {
    width: 320px;
  }
  .ab-text {
    width: 310px;
  }
  .geeks {
    /* width: 20%; */
    top: -17px;
    position: absolute;
    /* left: 45%; */
    /* border-bottom: 5px solid rgb(214, 58, 58); */
    overflow: hidden;
    animation: animate 2s linear forwards;
}
  .geeks h1{
    font-size:34px
  }
 
}

