/* ========== For MObile And TAblet view ========= */

@media screen and (min-width: 321px) and (max-width: 768px) {
  .box img {
    height: 556px;
    width: 392px;
    margin: 49px auto;
  }

  .box.d-block.w-70 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  

  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6,
  .box-7,
  .box-8,
  .box-9,
  .box-10,
  .box-11,
  .box-12,
  .box-13,
  .box-14,
  .box-15,
  .box-16,
  .box-17,
  .box-18,
  .box-19,
  .box-20,
  .box-21,
  .box-22,
  .box-23,
  .box-24,
  .box-25,
  .box-26,
  .box-27,
  .box-28,
  .box-29,
  .box-30,
  .box-31,
  .box-32,
  .box-34,
  .box-35,
  .box-36,
  .box-37,
  .box-38,
  .box-39,
  .box-40,
  .box-41,
  .box-42,
  .box-43,
  .box-44,
  .box-45,
  .box-46,
  .box-47,
  .box-48,
  .box-49,
  .box-50,
  .box-51,
  .box-52,
  .box-53,
  .box-54,
  .box-55,
  .box-56,
  .box-57,
  .box-58,
  .box-59,
  .box-60,
  .box-61,
  .box-62,
  .box-63,
  .box-64,
  .box-65,
  .box-66,
  .box-67,
  .box-68,
  .box-69,
  .box-70,
  .box-71,
  .box-72,
  .box-73,
  .box-74,
  .box-75,
  .box-76,
  .box-77,
  .box-78,
  .box-79,
  .box-80,
  .box-81,
  .box-82,
  .box-83,
  .box-84,
  .box-85,
  .box-86,
  .box-87,
  .box-88,
  .box-89,
  .box-90,
  .box-91,
  .box-92,
  .box-93,
  .box-94,
  .box-95,
  .box-96,
  .box-97 {
    height: 556px;
    width: 392px;
    margin: 49px auto;
  }

  .box-33 {
    height: 556px;
    width: 392px;
    margin: 49px auto;
  }
  .line-93 span {
    margin-right: 192px;
  }

  .index-no span {
    margin: 0 0;
  }
  .box-96 .logo {
    height: 0px;
  }

  .index-no {
    margin: 133px 53px;
  }

  .box-2 p {
    margin: 9px -32px;
  }

  .top img {
    height: 200px;
    width: 270px;
    margin: 97px -72px;
  }

  /* ====== Heading section======== */

  .box-4 .top h1 {
    margin: -68px -44px;
    font-size: 42px;
    word-spacing: 10px;
  }

  .box-6 .top h1 {
    margin: -13px -84px;
    font-size: 36px;
    word-spacing: 10px;
  }

  .box-8 .top h1 {
    margin: -9px -59px;
    font-size: 42px;
    word-spacing: 10px;
  }

  .box-10 .top h1 {
    margin: -18px -98px;
    font-size: 28px;
    word-spacing: 9px;
  }

  .box-12 .top h1 {
    margin: -11px -36px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-16 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-17 .top h1 {
    margin: -14px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-18 .top h1 {
    margin: -7px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-19 .top h1 {
    margin: -11px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-21 .top h1 {
    margin: -18px -94px;
    font-size: 27px;
    word-spacing: 9px;
  }

  .box-22 .top h1 {
    margin: -18px -97px;
    font-size: 35px;
    word-spacing: 9px;
  }

  .box-23 .top h1 {
    margin: -18px -89px;
    font-size: 32px;
    word-spacing: 9px;
  }

  .box-24 .top h1 {
    margin: -18px -94px;
    font-size: 30px;
    word-spacing: 9px;
  }

  .box-25 .top h1 {
    margin: -13px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-26 .top h1 {
    margin: -10px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-27 .top h1 {
    margin: -18px -95px;
    font-size: 37px;
    word-spacing: 9px;
  }

  .box-28 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-29 .top h1 {
    margin: -11px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-30 .top h1 {
    margin: -11px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-31 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-32 .top h1 {
    margin: -18px -95px;
    font-size: 30px;
    word-spacing: 9px;
  }

  .box-33 .top h1 {
    margin: -11px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-34 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-35 .top h1 {
    margin: -12px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-36 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-38 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-39 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-41 .top h1 {
    margin: -18px -95px;
    font-size: 37px;
    word-spacing: 9px;
  }

  .box-42 .top h1 {
    margin: -13px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-43 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-45 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-56 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-55 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-54 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-51 .top h1 {
    margin: -18px -95px;
    font-size: 33px;
    word-spacing: 9px;
  }

  .box-50 .top h1 {
    margin: -14px -95px;
    font-size: 40px;
    word-spacing: 9px;
  }

  .box-47 .top h1 {
    margin: -18px -95px;
    font-size: 35px;
    word-spacing: 9px;
  }

  .box-46 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-79 .top h1 {
    margin: -18px -95px;
    font-size: 37px;
    word-spacing: 9px;
  }

  .box-80 .top h1 {
    margin: -18px -95px;
    font-size: 32px;
    word-spacing: 9px;
  }

  .box-81 .top h1 {
    margin: -18px -95px;
    font-size: 32px;
    word-spacing: 9px;
  }

  .box-82 .top h1 {
    margin: -18px -95px;
    font-size: 36px;
    word-spacing: 9px;
  }

  .box-87 .top h1 {
    margin: -18px -95px;
    font-size: 36px;
    word-spacing: 9px;
  }

  .box-88 .top h1 {
    margin: -18px -95px;
    font-size: 38px;
    word-spacing: 9px;
  }
  .box-89 .top h1 {
    margin: -18px -95px;
    font-size: 45px;
    word-spacing: 9px;
  }
  .box-91 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }
  .box-95 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }
  .box-96 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }
  .box-77 .top h1 {
    margin: -18px -95px;
    font-size: 33px;
    word-spacing: 9px;
  }

  .box-71 .top h1 {
    margin: -8px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-70 .top h1 {
    margin: -12px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-69 .top h1 {
    margin: -8px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-67 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-66 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-62 .top h1 {
    margin: -18px -95px;
    font-size: 42px;
    word-spacing: 9px;
  }

  .box-61 .top h1 {
    margin: -18px -95px;
    font-size: 35px;
    word-spacing: 9px;
  }

  /* =========End ========= */

  .box-4 h5 {
    margin: 106px -11px;
  }

  .box-5 h5 {
    margin: -120px -20px;
  }

  .box-4 .top p {
    margin: -49px -10px;
    text-align: justify;
    font-size: 19px;
    line-height: 36px;
    word-spacing: 13px;
    color: #1f0e0ede;
  }

  .box-5 p {
    margin: -20px -29px;
    text-align: justify;
    font-size: 19px;
    line-height: 36px;
    word-spacing: 13px;
    color: #1f0e0ede;
  }

  .box-5 .top h5 p {
    margin: 141px -10px;
    text-align: justify;
    font-size: 19px;
    line-height: 36px;
    word-spacing: 13px;
    color: #1f0e0ede;
  }

  /* ========Logo Image======= */

  .logo img {
    margin: -9px -3px;
  }

  .box-4 .logo img {
    height: 40px;
    width: 50px;
    margin: 65px 0;
  }

  .box-5 .logo img {
    height: 40px;
    width: 50px;
    margin: 30px 0;
  }

  .box-6 .logo img {
    height: 40px;
    width: 50px;
    /* margin: 65px 0; */
  }

  .box-7 .logo img {
    height: 40px;
    width: 50px;
    margin: -8px 0;
  }

  .box-8 .logo img {
    height: 40px;
    width: 50px;
    margin: -18px -44px;
  }

  .box-9 .logo img {
    height: 40px;
    width: 50px;
    /* margin: 31px 15px; */
  }

  .box-10 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -8px -3px; */
  }

  .box-11 .logo img {
    height: 40px;
    width: 50px;
    /* margin: 55px 3px; */
  }

  .box-12 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -9px -15px; */
  }

  .box-13 .logo img {
    height: 40px;
    width: 50px;
    /* margin: 34px -15px; */
  }

  .box-14 .logo img {
    height: 40px;
    width: 50px;
    /* margin: 6px -8px; */
  }

  .box-15 .logo img {
    height: 40px;
    width: 50px;
    margin: 36px -6px;
  }

  .box-16 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -9px -2px; */
  }

  .box-17 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -9px -3px; */
  }

  .box-18 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-19 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-20 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-21 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-22 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-23 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-24 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-25 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-26 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-27 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-28 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-29 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-30 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-31 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-32 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-33 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-34 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-35 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-36 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-37 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-38 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-39 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-40 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-41 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-42 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-43 .logo img {
    height: 40px;
    width: 50px;
    /* margin: -18px -44px; */
  }

  .box-44 .logo img {
    height: 40px;
    width: 50px;
  }

  .box-45 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-46 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-47 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-48 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-49 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-50 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-51 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-52 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-53 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-54 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-55 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-56 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-57 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-58 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-59 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-60 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-61 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-62 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-63 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-64 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-65 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-66 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-67 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-68 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-69 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-70 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-71 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-72 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-73 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-74 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-75 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-76 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-77 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-78 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-79 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-80 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-81 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-82 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-83 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-84 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-85 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-86 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-87 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-88 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-89 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-90 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-91 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-92 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-93 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-94 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-95 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-96 .logo img {
    height: 40px;
    width: 50px;
  }
  .box-97 .logo img {
    height: 40px;
    width: 50px;
  }

  /* =====End========== */

  /* =======Bottom Start===== */

  .box-4 .bottom-1 h6 {
    margin: 25px -89px;
    font-size: 11px;
  }

  .box-5 .bottom-1 h6 {
    margin: 25px -89px;
    font-size: 11px;
  }

  .box-6 .bottom-1 h6 {
    margin: 25px -89px;
    font-size: 11px;
  }

  .box-7 .bottom-1 h6 {
    margin: -60px -89px;
    font-size: 11px;
  }

  .box-8 .bottom-1 h6 {
    font-size: 11px;
    margin: -58px -89px;
  }

  .box-9 .bottom-1 h6 {
    font-size: 11px;
    margin: 24px -89px;
  }

  .box-10 .bottom-1 h6 {
    font-size: 11px;
    margin: -45px -89px;
  }

  .box-11 .bottom-1 h6 {
    font-size: 11px;
    margin: -45px -89px;
  }

  .box-12 .bottom-1 h6 {
    font-size: 11px;
    margin: 113px -89px;
  }

  .box-13 .bottom-1 h6 {
    font-size: 11px;
    margin: 5px -89px;
  }

  .box-14 .bottom-1 h6 {
    font-size: 11px;
    margin: 5px -89px;
  }

  .box-15 .bottom-1 h6 {
    font-size: 11px;
    margin: 24px -89px;
  }

  .box-16 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-17 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-18 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-19 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-20 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-21 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-22 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-23 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-24 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-25 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-26 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-27 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-28 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-29 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-30 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-31 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-32 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-33 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-34 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-35 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-36 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-37 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-38 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-39 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-40 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-41 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-42 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-43 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-44 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-45 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-46 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  .box-47 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-48 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-49 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-50 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-51 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-52 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-53 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-54 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-55 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-56 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-57 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-58 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-59 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-60 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-61 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-62 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-63 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-64 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-65 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-66 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-67 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-68 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-69 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-70 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-71 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-72 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-73 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-74 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-75 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-76 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-77 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-78 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-79 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-80 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-81 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-82 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-83 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-84 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }
  .box-85 .bottom-1 h6 {
    margin: -34px -89px;
    font-size: 11px;
  }

  /* ======End========== */

  .logo {
    margin: 34px -55px;
    height: 72px;
  }

  .box-12 .logo {
    margin: -45px -55px;
    height: 72px;
  }

  .box-13 .logo {
    margin: 5px -55px;
    height: 72px;
  }

  .box-14 .logo {
    margin: 5px -55px;
    height: 72px;
  }

  .box-15 .logo {
    margin: 34px -55px;
    height: 72px;
  }

  /* =========Line Start=========== */

  .line-1 {
    margin: 67px -108px;
    word-spacing: 16px;
  }

  .line-1 h5 {
    font-weight: bolder;
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 34px;
  }

  .line-2 {
    margin: -8px -56px;
    word-spacing: 13px;
  }

  .line-2 h5 {
    font-weight: bolder;
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 34px;
  }

  .line-3 {
    margin: 25px -94px;
    word-spacing: 13px;
  }

  .line-3 h5 {
    font-weight: bolder;
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 34px;
  }

  .line-4 {
    margin: 62px -76px;
    word-spacing: 13px;
  }

  .line-4 h5 {
    font-weight: bolder;
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 34px;
  }

  .line-5 {
    margin: 41px -29px;
    word-spacing: 13px;
  }

  .line-5 h5 {
    font-weight: bolder;
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 34px;
  }

  .line-6 {
    margin: 38px -29px;
    word-spacing: 13px;
  }

  .line-6 h5 p {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 34px;
    font-weight: bold;
  }

  .line-7 {
    margin: 73px -26px;
  }

  .line-7 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 56px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-8 {
    margin: 62px -48px;
  }

  .line-8 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-9 {
    margin: -1px -43px;
  }

  .line-9 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-10 {
    margin: 82px -43px;
  }

  .line-10 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-11 {
    margin: 76px -43px;
  }

  .line-11 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-12 {
    margin: 94px -37px;
  }

  .line-12 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-13 {
    margin: 24px -21px;
  }

  .line-13 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-14 {
    margin: 37px -26px;
  }

  .line-14 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-15 {
    margin: -1px -38px;
  }

  .line-15 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-16 {
    margin: 30px -36px;
  }

  .line-16 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-17 {
    margin: 89px -28px;
  }

  .line-17 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-18 {
    margin: -1px -26px;
  }

  .line-18 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-19 {
    margin: 93px -18px;
  }

  .line-19 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-20 {
    margin: 69px -32px;
  }

  .line-20 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-21 {
    margin: 102px -11px;
  }

  .line-21 span {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-21 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-22 {
    margin: 66px -22px;
  }

  .line-22 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-23 {
    margin: 94px -41px;
  }

  .line-23 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-24 {
    margin: 113px -51px;
  }

  .line-24 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-25 {
    margin: 73px -33px;
  }

  .line-25 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-26 {
    margin: 113px -37px;
  }

  .line-26 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-27 {
    margin: 133px -28px;
  }

  .line-27 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-28 {
    margin: 88px -31px;
  }

  .line-28 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-29 {
    margin: 84px -3px;
  }

  .line-29 span {
    margin-right: 50px;
    font-size: 19px;
    line-height: 42px;
  }

  .line-29 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-30 {
    margin: 53px -38px;
  }

  .line-30 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-31 {
    margin: 113px -23px;
  }

  .line-31 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-32 {
    margin: 86px -27px;
  }

  .line-32 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-33 {
    margin: 86px -24px;
  }

  .line-33 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-34 {
    margin: 113px -25px;
  }

  .line-34 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-35 {
    margin: 113px -43px;
  }

  .line-35 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-36 {
    margin: 126px -15px;
  }

  .line-36 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-37 {
    margin: 94px -18px;
  }

  .line-37 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-38 {
    margin: 107px -16px;
  }

  .line-38 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-39 {
    margin: 133px -22px;
  }

  .line-39 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-40 {
    margin: 134px -16px;
  }

  .line-40 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-41 {
    margin: 93px -19px;
  }

  .line-41 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-42 {
    margin: 113px -16px;
  }

  .line-42 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-43 {
    margin: 154px -28px;
  }

  .line-43 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-44 {
    margin: 93px -26px;
  }

  .line-44 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-45 {
    margin: 108px -9px;
  }

  .line-45 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-46 {
    margin: 93px -19px;
  }

  .line-46 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-47 {
    margin: 134px -26px;
  }

  .line-47 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-48 {
    margin: 113px -26px;
  }

  .line-48 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-49 {
    margin: 93px -19px;
  }

  .line-49 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-50 {
    margin: 73px -19px;
  }

  .line-50 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-51 {
    margin: -7px -19px;
  }

  .line-51 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-52 {
    margin: 81px -19px;
  }

  .line-52 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-53 {
    margin: 174px -34px;
  }

  .line-53 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-54 {
    margin: 89px -30px;
  }

  .line-54 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-55 {
    margin: 92px -19px;
  }

  .line-55 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-56 {
    margin: 134px -19px;
  }

  .line-56 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-57 {
    margin: 94px -19px;
  }

  .line-57 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-58 {
    margin: 92px -19px;
  }

  .line-58 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-59 {
    margin: 92px -19px;
  }

  .line-59 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-60 {
    margin: 92px -19px;
  }

  .line-60 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-61 {
    margin: 134px -21px;
  }

  .line-61 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-62 {
    margin: 134px -32px;
  }

  .line-62 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-63 {
    margin: 154px -28px;
  }

  .line-63 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-64 {
    margin: 134px -23px;
  }

  .line-64 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-65 {
    margin: 113px -43px;
  }

  .line-65 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-66 {
    margin: 133px -19px;
  }

  .line-66 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-67 {
    margin: 154px -33px;
  }

  .line-67 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-68 {
    margin: 114px -21px;
  }

  .line-68 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-69 {
    margin: 114px -31px;
  }

  .line-69 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-70 {
    margin: 113px -18px;
  }

  .line-70 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-71 {
    margin: 113px -19px;
  }

  .line-71 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-72 {
    margin: 134px -15px;
  }

  .line-72 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-73 {
    margin: 83px -19px;
  }

  .line-73 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-74 {
    margin: 127px -18px;
  }

  .line-74 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-75 {
    margin: 123px -16px;
  }

  .line-75 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-76 {
    margin: 114px -44px;
  }

  .line-76 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-77 {
    margin: 114px -27px;
  }

  .line-77 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-78 {
    margin: 154px -11px;
  }

  .line-78 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-79 {
    margin: 94px -51px;
  }

  .line-79 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-80 {
    margin: 114px -19px;
  }

  .line-80 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-81 {
    margin: 113px -19px;
  }

  .line-81 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-82 {
    margin: 134px -19px;
  }

  .line-82 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-83 {
    margin: 113px -19px;
  }

  .line-83 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-84 {
    margin: 113px -19px;
  }

  .line-84 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
  .line-85 {
    margin: 113px -19px;
  }

  .line-85 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-86 {
    margin: 132px -19px;
  }

  .line-86 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-87 {
    margin: 154px -19px;
  }

  .line-87 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-88 {
    margin: 94px -19px;
  }

  .line-88 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-89 {
    margin: 94px -19px;
  }

  .line-89 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-90 {
    margin: 43px -25px;
  }

  .line-90 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-91 {
    margin: 62px -29px;
  }

  .line-91 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-92 {
    margin: 82px -19px;
  }

  .line-92 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-93 {
    margin: 64px -19px;
  }

  .line-93 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 32px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-94 {
    margin: -13px -19px;
  }

  .line-94 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-95 {
    margin: 62px -28px;
  }

  .line-95 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-96 {
    margin: 64px -19px;
  }

  .line-96 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-97 {
    margin: 43px -19px;
  }

  .line-97 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-98 {
    margin: 84px -19px;
  }

  .line-98 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-99 {
    margin: 83px -31px;
  }

  .line-99 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }

  .line-100 {
    margin: 59px -32px;
  }

  .line-100 h5 {
    font-size: 19px;
    color: #1f0e0ede;
    line-height: 40px;
    font-weight: bold;
    word-spacing: 13px;
  }
}
