* {
  box-sizing: border-box;
}

body {
   background-color: #fff; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000;
}

h1,
h2 {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
}

h3,
h4 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
}

h5,
h6 {
  font-size: 18px;
  line-height: 22px;
}

p {
  font-size: 18px;
  line-height: 22px;
}

/* ===  Header  ===== */

.header {
  background-color: #1b3131;
}

header .container {
  padding: 1px 50px;
}

.box {
  background-image: url(/img/cover-3.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
}

.top {
  padding: 34px 100px;
}

.top h3 {
  padding: 10px;
  font-family: sans-serif;
}

.top h1 {
  font-family: math;
}

.bottom-section {
  margin: 130px 0;
}

/* ======== Second slide ====== */

.box-2 {
  background-image: url(/img/index-page.jpeg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-3 {
  background-image: url(/img/color-2.webp);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-4 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-5 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-6 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-7 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-8 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-9 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-10,
.box-11,
.box-12,
.box-13,
.box-14,
.box-15,
.box-16,
.box-17,
.box-18 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-2 p {
  text-align: left;
  margin: 18px 36px;
}

.index-no {
  margin: 170px 60px;
}

.box-3 .top h3 {
  background-color: greenyellow;
  border-radius: 50%;
}

.top img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 28px 0;
}

.box-3 .top p {
  text-align: end;
  margin: 28px -40px;
  font-size: 23px;
}

.index-no span {
  margin: 66px;
  color: brown;
  font-family: math;
}

.box-4 .top-section .top {
  margin: 66px 0;
}

/* .box-4  .top-section .top {
    margin: 82px 0;
} */

.box-4 p {
  line-height: 36px;
  margin: 25px 34px;
  text-align: end;
}

.box-4 h5 {
  font-weight: 600;
  text-align: end;
  margin: 39px 15px;
}

.box-4 .top h1 {
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: -9px;
}

.box-4 .top img {
  height: 90px;
  width: 108px;
}

.logo {
  text-align: end;
}

.bottom {
  float: right;
  margin: -8px -60px;
}

.bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 64px -78px;
}

.box-5 .top-section .top {
  margin: 225px 0;
}

.box-5 p {
  line-height: 36px;
  margin: 5px 56px;
  text-align: left;
}

.box-5 .top h5 p {
  text-align: left;
  margin: -10px 0;
}

.box-5 h5 {
  font-weight: 600;
  text-align: end;
  margin: 70px 15px;
}

.box-5 .top img {
  height: 90px;
  width: 108px;
}

.box-4 .box-5 p {
  line-height: 36px;
  margin: 6px 34px;
  text-align: end;
}

.box-4 .box-5 h5 {
  font-weight: 600;
  text-align: end;
  margin: 39px 15px;
}

.box-5.d-block.w-70 .top-section {
  margin: -164px 0;
}

/* ======== Slide-6========= */

.box-6 .top h1 {
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.line-1 {
  margin: 68px 0px;
}

.line-1 h5 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 71px;
  text-align: start;
}

.line-2 h5 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 20px;
  text-align: start;
}

.box-6 .top img {
  height: 90px;
  width: 108px;
  margin-top: 55px;
}

/* ====== Slide-7 ========= */

.line-3 {
  margin: 63px 0px;
}

.line-3 h5 {
  line-height: 34px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 65px;
  text-align: justify;
}

.line-4 h5 {
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 45px;
  text-align: justify;
}

.box-7 .top img {
  height: 90px;
  width: 108px;
  margin-top: 26px;
}

/* ==== Slide-8 ======= */

.box-8 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.line-5 h5 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.line-5 {
  margin: 60px 57px;
}

.line-6 {
  margin: -22px 50px;
}
.line-6 h5 {
  line-height: 37px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.line-6 h5 p {
  line-height: 32px;
}

.box-8 img {
  height: 77px;
  width: 95px;
  margin-top: 26px;
}

.box-8 .logo {
  margin: 39px 0;
}

.box-8 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 23px -78px;
}

/* ==== Slide - 8====== */

.box-9 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.line-7 h5 {
  line-height: 37px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  word-spacing: 4px;
}

.box-9 img {
  height: 77px;
  width: 95px;
  margin-top: -54px;
}

.line-7 {
  margin: 140px 73px;
}

/* === Slide-9 */

.box-10 .top h1 {
  font-family: math;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-8 h5 {
  line-height: 37px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.line-8 {
  margin: 65px 62px;
}

.line-9 h5 {
  line-height: 37px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.line-9 {
  margin: 0 61px;
}

.box-10 img {
  height: 77px;
  width: 95px;
  margin-top: -2px;
}

.box-10 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 38px -78px;
}

/* ===== Slide -10 */

.line-10 h5 {
  line-height: 37px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.line-10 {
  margin: 73px 56px;
}

.line-11 h5 {
  line-height: 37px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  word-spacing: 4px;
}

.line-11 {
  margin: 39px 60px;
}

.box-11 img {
  height: 77px;
  width: 95px;
  margin-top: 78px;
}

/* === Slide -11=== */

.box-12 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-12 h5 {
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-12 {
  margin: 76px 55px;
}

.box-12 img {
  height: 77px;
  width: 95px;
  margin-top: -29px;
}

/* ====Slide -12=== */

.line-13 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-13 {
  margin: 20px 40px;
}

.line-14 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-14 {
  margin: 30px 35px;
}

.box-13 img {
  height: 77px;
  width: 95px;
  margin-top: 41px;
}

/* ====Slide - 13===== */

.line-15 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-15 {
  margin: 20px 87px;
}

.line-16 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-16 {
  margin: 30px 72px;
}

.box-14 img {
  height: 77px;
  width: 95px;
  margin-top: -10px;
}

.box-14 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 31px -78px;
}

/* === SLIde -14==== */

.line-17 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-17 {
  margin: 51px 74px;
}

.line-18 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-18 {
  margin: 0 78px;
}

.box-15 img {
  height: 77px;
  width: 95px;
  margin-top: 103px;
}

/* ======Slide -15======= */

.box-16 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 700;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-19 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-19 {
  margin: 112px 78px;
}

.box-16 img {
  height: 77px;
  width: 95px;
  margin-top: -68px;
}

/* === Slide - 16 ==== */

.box-17 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 700;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-20 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-20 {
  margin: 91px 54px;
}

.box-17 img {
  height: 77px;
  width: 95px;
  margin-top: -68px;
}

/* =====SLide -17=== */

.box-18 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 700;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-21 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-21 {
  margin: 105px 91px;
}

.line-21 span {
  margin-right: 41px;
  font-weight: 800;
  font-size: 17px;
  word-spacing: 10px;
  line-height: 42px;
}

.box-18 img {
  height: 77px;
  width: 95px;
  margin-top: -80px;
}

.box-18 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 47px -78px;
}

/* ====Slide - 18=== */

.box-19,
.box-20,
.box-21,
.box-22,
.box-23,
.box-24,
.box-25,
.box-26 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-19 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 700;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-22 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-22 {
  margin: 97px 50px;
}

.box-19 img {
  height: 77px;
  width: 95px;
  margin-top: -80px;
}

.box-20 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 40px -77px;
}

/* =====Slide -19===== */

.line-23 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-23 {
  margin: 91px 76px;
}

.box-20 img {
  height: 77px;
  width: 95px;
  margin-top: -36px;
}

/* ===Slide - 20 */

.box-21 .top h1 {
  font-family: math;
  font-size: 26px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px 89px;
  word-spacing: 9px;
  line-height: 33px;
}

.line-24 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-24 {
  margin: 74px 78px;
}

.box-21 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-21 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 40px -78px;
}

/* ==== Slide - 22====== */

.box-22 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-25 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-25 {
  margin: 79px 78px;
}

.box-22 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-22 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 62px -78px;
}

/* === SLide -23==== */

.box-23 .top h1 {
  font-family: math;
  font-size: 35px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-26 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-26 {
  margin: 77px 84px;
}

.box-23 img {
  height: 77px;
  width: 95px;
  margin-top: -39px;
}

/* ======Slide -24======= */

.box-24 .top h1 {
  font-family: math;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-27 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-27 {
  margin: 98px 84px;
}

.box-24 img {
  height: 77px;
  width: 95px;
  margin-top: -39px;
}

/* =====Slide -25====== */

.box-25 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-28 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-28 {
  margin: 80px 76px;
}

.box-25 img {
  height: 77px;
  width: 95px;
  margin-top: -81px;
}

.box-25 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 57px -78px;
}

/* ====Slide - 26==== */

.box-26 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-29 h5 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.line-29 {
  margin: 101px 93px;
}

.line-29 span {
  margin-right: 50px;
  font-weight: 800;
  font-size: 17px;
  word-spacing: 10px;
  line-height: 42px;
}

.box-26 img {
  height: 77px;
  width: 95px;
  margin-top: -81px;
}

.box-26 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 57px -78px;
}

/* ===Slide -27======== */

.box-27,
.box-28,
.box-29,
.box-30,
.box-31,
.box-32,
.box-33 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.box-27 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-30 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-30 {
  margin: 70px 58px;
}

.line-30 span {
  margin-right: 64px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.box-27 img {
  height: 77px;
  width: 95px;
  margin-top: -81px;
}

.box-27 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 57px -78px;
}

/* ========Slide -28======= */

.box-28 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-31 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-31 {
  margin: 103px 81px;
}

.line-31 span {
  margin-right: 44px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.box-28 img {
  height: 77px;
  width: 95px;
  margin-top: -31px;
}

.box-28 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 57px -78px;
}

/* =====Slide-29======== */

.box-29 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-32 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-32 {
  margin: 104px 54px;
}

.box-29 img {
  height: 77px;
  width: 95px;
  margin-top: -78px;
}

/* ====Slide -30====== */

.box-30 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-33 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-33 {
  margin: 84px 77px;
}

.box-30 img {
  height: 77px;
  width: 95px;
  margin-top: -78px;
}

.line-33 span {
  margin-right: 44px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* =====Slide-31======= */

.box-31 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-34 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-34 {
  margin: 83px 87px;
}

.box-31 img {
  height: 77px;
  width: 95px;
  margin-top: -38px;
}

.line-34 span {
  margin-right: 44px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* =====Slide-32======= */

.box-32 .top h1 {
  font-family: math;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-35 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-35 {
  margin: 80px 71px;
}

.box-32 img {
  height: 77px;
  width: 95px;
  margin-top: -32px;
}

.line-35 span {
  margin-right: 2px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* =====Slide-33======= */

.box-33 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-36 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-36 {
  margin: 118.5px 80px;
}

.box-33 img {
  height: 77px;
  width: 95px;
  margin-top: -69px;
}

.line-36 span {
  margin-right: 2px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* =======Slide -34====== */

.box-34,
.box-35,
.box-36,
.box-37,
.box-38,
.box-39 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.line-37 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-37 {
  margin: 108.5px 71px;
}

.box-34 img {
  height: 77px;
  width: 95px;
  margin-top: -38px;
}

/* ====Slide - 35 */

.box-35 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-38 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-38 {
  margin: 114px 83px;
}

.box-35 img {
  height: 77px;
  width: 95px;
  margin-top: -68px;
}

.line-38 span {
  margin-right: 111px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.box-35 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 34px -78px;
}

/* ======Slide-36======= */

.box-36 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-39 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-39 {
  margin: 118px 80px;
}

.box-36 img {
  height: 77px;
  width: 95px;
  margin-top: -68px;
}

/* ===Slide-37====== */

.line-40 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-40 {
  margin: 138px 80px;
}

.box-37 img {
  height: 77px;
  width: 95px;
  margin-top: -58px;
}

/* ======Slide-38====== */

.box-38 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-41 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-41 {
  margin: 119px 80px;
}

.box-38 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-41 span {
  margin-right: 111px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.box-38 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 38px -78px;
}

/* ======Slide-39====== */

.box-39 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-42 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-42 {
  margin: 119px 90px;
}

.box-39 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-42 span {
  margin-right: -1px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.box-39 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 38px -78px;
}

/* ======Slide  -40====== */

.box-40,
.box-41,
.box-42,
.box-43,
.box-44,
.box-45,
.box-46,
.box-47,
.box-48,
.box-49,
.box-50,
.box-51,
.box-52,
.box-53,
.box-54,
.box-55,
.box-56,
.box-57,
.box-58,
.box-59,
.box-60,
.box-61,
.box-62,
.box-63,
.box-64,
.box-65,
.box-66,
.box-67,
.box-68,
.box-69,
.box-70,
.box-71,
.box-72,
.box-73,
.box-74,
.box-75,
.box-76,
.box-77,
.box-78,
.box-79,
.box-80,
.box-81,
.box-82,
.box-83,
.box-84,
.box-85,
.box-86,
.box-87,
.box-88,
.box-89,
.box-90,
.box-91,
.box-92,
.box-93,
.box-94,
.box-95,
.box-96,
.box-97,
.box-98,
.box-99,
.box-100 {
  background-image: url(/img/blank-page.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 578px;
  text-align: center;
  margin: 20px auto;
  border: 2px double lightgrey;
}

.line-43 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-43 {
  margin: 151px 90px;
}

.box-40 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-43 span {
  margin-right: -1px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* ======Slide  -41====== */

.box-41 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-44 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-44 {
  margin: 87px 78px;
}

.box-41 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-44 span {
  margin-right: -1px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* ======Slide  -42====== */

.box-42 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-45 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-45 {
  margin: 106px 92px;
}

.box-42 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-45 span {
  margin-right: 21px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* ======Slide  -43====== */

.box-43 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-46 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-46 {
  margin: 87px 92px;
}

.box-43 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-46 span {
  margin-right: 41px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* ======Slide  -44====== */

.box-44 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-47 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-47 {
  margin: 151px 92px;
}

.box-44 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-47 span {
  margin-right: 21px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* ======Slide  -45====== */

.box-45 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-48 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-48 {
  margin: 106px 92px;
}

.box-45 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.line-48 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* ======Slide  -46====== */

.box-46 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-49 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-49 {
  margin: 101px 88px;
}

.box-46 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-46 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 75px -78px;
}

/* ======Slide  -47 ====== */

.box-47 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.line-50 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-50 {
  margin: 101px 71px;
}

.box-47 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-47 .bottom-1 h6 {
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 75px -78px;
}

.line-50 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

/* ======= Lines ========== */

.line-51 {
  margin: 38px 101px;
}

.line-52 {
  margin: 73px 104px;
}
.line-53 {
  margin: 190px 78px;
}

.line-54 {
  margin: 87px 66px;
}

.line-55 {
  margin: 87px 79px;
}

.line-56 {
  margin: 170px 88px;
}

.line-57 {
  margin: 150px 50px;
}

.line-58 {
  margin: 106px 72px;
}

.line-59 {
  margin: 87px 73px;
}

.line-60 {
  margin: 106px 65px;
}

.line-61 {
  margin: 170px 71px;
}

.line-62 {
  margin: 151px 84px;
}

.line-63 {
  margin: 190px 56px;
}

.line-64 {
  margin: 151px 71px;
}

.line-65 {
  margin: 107px 76px;
}

.line-66 {
  margin: 126px 87px;
}

.line-67 {
  margin: 170px 83px;
}

.line-68 {
  margin: 131px 76px;
}

.line-69 {
  margin: 131px 83px;
}

.line-70 {
  margin: 68px 103px;
}

.line-71 {
  margin: 126px 72px;
}
.line-72 {
  margin: 151px 69px;
}

.line-73 {
  margin: 87px 84px;
}
.line-74 {
  margin: 146px 78px;
}
.line-75 {
  margin: 126px 76px;
}
.line-76 {
  margin: 131px 67px;
}
.line-77 {
  margin: 131px 71px;
}
.line-78 {
  margin: 190px 71px;
}
.line-79 {
  margin: 131px 42px;
}
.line-80 {
  margin: 151px 62px;
}
.line-81 {
  margin: 130px 71px;
}
.line-82 {
  margin: 170px 68px;
}
.line-83 {
  margin: 126px 75px;
}
.line-84 {
  margin: 107px 89px;
}
.line-85 {
  margin: 107px 86px;
}
.line-86 {
  margin: 126px 91px;
}
.line-87 {
  margin: 170px 92px;
}
.line-88 {
  margin: 131px 74px;
}
.line-89 {
  margin: 131px 84px;
}
.line-90 {
  margin: 112px 90px;
}
.line-91 {
  margin: 107px 71px;
}
.line-92 {
  margin: 107px 91px;
}
.line-93 {
  margin: 87px 92px;
}
/* .line-94 {
  margin: 101px 71px
}
.line-95 {
  margin: 101px 71px
} */
.line-94 {
  margin: 111px 71px;
}
.line-95 {
  margin: 106px 85px;
}
.line-96 {
  margin: 150px 71px;
}
.line-97 {
  margin: 131px 71px;
}
.line-98 {
  margin: 150px 71px;
}
.line-99 {
  margin: 126px 75px;
}
.line-100 {
  margin: 87px 71px;
}

/* ========  Line H5 text========== */

.line-47 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-48 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-49 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-50 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-51 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-52 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-53 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-54 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-55 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-56 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-57 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-58 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-59 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-60 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-61 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-62 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-63 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-64 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-65 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-66 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-67 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-68 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-69 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-70 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-71 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-72 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-73 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-74 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-75 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-76 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-77 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-78 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-79 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-80 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-81 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}

.line-82 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-83 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-84 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-85 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-86 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-87 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-88 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-89 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-90 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-91 h5 {
  line-height: 39px;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-92 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-93 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-94 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-95 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-96 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-97 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-98 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-99 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-100 h5 {
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  word-spacing: 5px;
}
.line-



/* ====== Box Images ======== */

.box-46 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-47 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-48 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-49 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-50 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-51 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-52 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-53 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-54 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-55 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-56 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-57 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-58 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-59 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-60 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-61 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-62 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-63 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-64 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-65 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-66 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-67 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-68 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-69 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

.box-70 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-71 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-72 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-73 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-74 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-75 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-76 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-77 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-78 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-79 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-80 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-81 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-82 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-83 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-84 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-85 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-86 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-87 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-88 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-89 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-90 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-91 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-92 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-93 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-94 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-95 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-96 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-97 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-98 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-99 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}
.box-100 img {
  height: 77px;
  width: 95px;
  margin-top: -85px;
}

/* ===== Heading Section ========== */

.box-50 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.box-51 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.box-54 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.box-55 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.box-56 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 11px;
}

.box-61 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-62 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-66 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-67 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-69 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-70 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-71 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-77 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 2px;
}

.box-79 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-80 .top h1 {
  font-family: math;
  font-size: 34px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-81 .top h1 {
  font-family: math;
  font-size: 36px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-82 .top h1 {
  font-family: math;
  font-size: 43px;
  font-weight: 600;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-87 .top h1 {
  font-family: math;
  font-size: 37px;
  font-weight: bold;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-88 .top h1 {
  font-family: math;
  font-size: 46px;
  font-weight: bold;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-89 .top h1 {
  font-family: math;
  font-size: 46px;
  font-weight: bold;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-91 .top h1 {
  font-family: math;
  font-size: 46px;
  font-weight: bold;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-95 .top h1 {
  font-family: math;
  font-size: 46px;
  font-weight: bold;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

.box-96 .top h1 {
  font-family: math;
  font-size: 46px;
  font-weight: bold;
  border-bottom: 5px double darkgrey;
  margin: 10px;
}

/* ====== Span Section ============ */

.line-52 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-54 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-58 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-59 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-66 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-70 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-71 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-73 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-91 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-92 span {
  margin-right: 46px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-93 span {
  margin-right: 113px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}

.line-98 span {
  margin-right: 160px;
  font-weight: 800;
  font-size: 19px;
  word-spacing: 10px;
  line-height: 38px;
}
li {
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 11px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bolder;
}

.fa-regular,
.far {
  font-weight: 400;
  color: wheat;
  font-size: 35px;
}
/* span {
  margin: 0 12px;
} */
li a span{
  margin: 0 12px;
}
i.fa-solid.fa-user {
  color: #ff5151;
}

/* PODCAST CSS */

body {
  margin: 0;
}

.header {
  background-color: #1b3131;

}

header .container {
  padding: 1px 50px;
}


button.btn {
  margin-left: 85%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #2dbfff;

}

a {
  text-decoration: none;
  color: rgb(222, 212, 212);
  font-size: 21px;
  font-weight: bolder;
}

.ab-text {
  width: 48%;
}

.text-container {
  padding: 10px;
}

.text-container p {
  text-align: justify;
  font-family: sans-serif;
  color: mediumorchid;
  line-height: 22px;
  word-spacing: 4px;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(94, 11, 52, 0.8184523809523809) 57%, rgba(32, 32, 32, 1) 100%, rgba(118, 14, 56, 0.9052871148459384) 100%, rgba(0, 0, 0, 0.5971638655462185) 100%, rgba(0, 212, 255, 1) 100%);
}

.ab-detl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 6px solid;
  width: 50%;
  margin: 29px auto;
  box-shadow: 1px 10px 52px -12px;
  border-radius: 10px;
  background: #000000a1;
}

img.img-spotify {
  width: 260px;
}

.pod-1 {
  margin: 10px;
}

@media screen and (min-width:280px) and (max-width:768px) {
  ul li span {
      font-size: 14px;
  }

  li a {
      font-size: 14px;
  }

  .fa-regular,
  .far {
      font-size: 18px;
  }

  .ab-detl-container {
      width: 320px;
  }


}
